@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Caveat:wght@600&display=swap');

ul {
    list-style-type: none;
}

body {
    padding: 0 7em 0 7em;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #fff;
    font-family: Caveat, serif;
    font-size: 4em;
}

h2 {
    font-family: Caveat, serif;
    font-size: 3em;
}

h3 {
    font-family: Caveat, serif;
    color: #fff;
    font-size: 1.8em;
    margin: 2em 0 -1em 0;
}

main {
    width: 100%;
}

/* Header: */

header {
    display: grid;
    width: auto;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    background: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img {
    width: 35%;
    height: auto;
}

.mainMenu {
    grid-area: 1 / 2 / 2 / 3;
    background: rgb(177, 233, 122);
}

.languageMenuBox {
    grid-area: 1 / 3 / 2 / 4;
    background: rgb(92, 124, 60);
}

.headImage {
    grid-area: 2 / 1 / 3 / 4;
    border: solid 2px red;
    display: flex;
    justify-content: center;
}

.headImage > img {
    width: 100%;
    height: auto;
}

/* Main pictures: */

.mainPicturesBox {
    width: auto;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) 2fr 2fr;
    grid-template-rows: 50px repeat(4, 1fr);
    margin-top: -50px;
}

.blackNwhitePic {
    grid-area: 2 / 1 / 5 / 6;
}

.museumTitle {
    grid-area: 1 / 2 / 3 / 5;
    z-index: 1;
    background: chocolate;
}

.redInfo {
    grid-area: 2 / 3 / 4 / 5;
    z-index: 2;
    background: red;
    border-radius: 50%;
}

/* Expositions box: */

.expo {
    width: auto;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
}

.expoTitle {
    grid-area: 1 / 1 / 2 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:	#363636;
}

.expoBox1 {
    grid-area: 2 / 1 / 3 / 3;
}

.expoBox2 {
    grid-area: 2 / 3 / 3 / 4;
}

.expoBox3 {
    grid-area: 2 / 4 / 3 / 5;
}

.expoBox1 > img , .expoBox2 > img , .expoBox3 > img {
    width: 100%;
}

.expoBox1 > p , .expoBox2 > p , .expoBox3 > p {
    font-size: 1.2em;
    margin: 0 20px 20px 20px;
}

.expoBox1 > h2 , .expoBox2 > h2 , .expoBox3 > h2 {
    margin: 10px 20px 5px 20px;
}

#expoSpecialDate {
    font-family: Bellota, serif;
    margin: 0 0 -15px 15px;
}

/* News box: */

.news {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr repeat(2, 2fr);
}

.newsTitle {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:	#363636;
}

.newsBox1 {
    grid-area: 2 / 1 / 3 / 4;
}

.newsBox2 {
    grid-area: 3 / 1 / 4 / 4;
}

.newsBox1 , .newsBox2 {
    background: #7ab7bc;
    padding-left: 20em;
    padding-right: 20em;
}

.newsBox1 > p , .newsBox2 > p {
    font-size: larger;
    line-height: 1.5em;
    margin-top: -1.5em;
}

.newsAttention {
    grid-area: 3/3 / 4 / 4;
    background: red;
    width: 50%;
    height: 28%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7em;
}

/* Additional Content: */

.additionalContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(300px, auto));
}

.souvenirStoreImg {
    grid-area: 1 / 1/ 2 / 2;
    margin: 0;
}

.souvenirStoreImg > img , .readingRoomImg > img {
    width: 100%;
    height: auto;
}

.souvenirStore {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 15px;
    padding-right: 15px;
}

.quote {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.readingRoom {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 15px;
    padding-right: 15px;
}

.readingRoomImg {
    grid-area: 3 / 2 / 4 / 3;
    margin: 0;
}

/* Additional Contant - fonts: */

.souvenirStore > p , .readingRoom > p {
    font-size: 1.2em;
}

.quote > h1 , .quote > h2 {
    color: #000;
    font-family: Bellota, serif;
    font-size: 2.5em;
    margin: 10px 70px 5px 70px
}

.quote > h2 {
    color: #000;
    font-family: Bellota, serif;
    font-size: 1.7em;
}



/* Footer: */

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.linksAndContacts {
    background-image: url("images/bg-footer-navi.jpg");
}

.linksAndContacts, .footerBottom {
    display: flex;
    justify-content: space-between;
}

.footerBottom > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.footerBottom > div > img {
    width: 30px;
    height: auto;
}