body {
    background-color: #ffde0f;
}

h1 {
    font-family: Comic Sans, cursive; /* THE KING OF THE FONTS!!!!!! */
}

h2 {
    font-size: 25px;
    font-weight: 700;
    font-family: Comic Sans, cursive;
    animation-name: sha;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes sha { 
    0% {text-shadow: 2px -10px #0a1df2;}
    5% {text-shadow: 2px -8px #37d925;}
    10% {text-shadow: 2px -6px #ed323e;}
    15% {text-shadow: 2px -4px #0a1df2;}
    20% {text-shadow: 2px -2px #37d925;}
    25% {text-shadow: 2px 0px #ed323e;}
    30% {text-shadow: 2px 2px #0a1df2;}
    35% {text-shadow: 2px 4px #37d925;}
    40% {text-shadow: 2px 6px #ed323e;}
    45% {text-shadow: 2px 8px #0a1df2;}
    50% {text-shadow: 2px 10px #37d925;}
    55% {text-shadow: 2px 8px #ed323e;}
    60% {text-shadow: 2px 6px #0a1df2;}
    65% {text-shadow: 2px 4px #37d925;}
    70% {text-shadow: 2px 2px #ed323e;}
    75% {text-shadow: 2px 0px #0a1df2;}
    80% {text-shadow: 2px -2px #37d925;}
    85% {text-shadow: 2px -4px #ed323e;}
    90% {text-shadow: 2px -6px #0a1df2;}
    95% {text-shadow: 2px -8px #37d925;}
    100% {text-shadow: 2px -10px #ed323e;}
}

#grid-floats {
   /*  border: blue 3px dotted; */
    width: 1400px;
    height: auto;
    margin: auto;
    text-align: justify;
}

#grid-floats:after {
    content: "";
    display: block;
    clear: both;
    padding: auto;
}

#grid-floats > .grid-item {
    float: left;
  /*   border: 3px green dashed; */
    width: 250px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    list-style-type: none;
    float: inline-start;
    left: 3%;
    position: relative;
    background-color: #ffffff;
    border-radius: 1%;
}

#grid-floats > .grid-item:nth-child(1) {
    width: 560px;
  /*   border: dashed red 2px; */
    height: 400px;
    text-align: justify;
}

img {
    width: 100%;
    height: auto;
}

.grid-item:nth-child(1)  > img {
    width: 70%;
    margin-left: 30px;
}

#grid-flex {
  /*   border: blueviolet 3px dotted; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    text-align: justify;
}

#grid-flex > .grid-item {
   /*  border: 3px dotted red; */
    margin: 10px;
    width: 250px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 1%;
}

/* for Tablets */

@media screen and (max-width: 800px) {
    body {
        background-color: #6ebfee;
    }


    #grid-floats {
      /*   border: blue 3px dotted; */
        width: 700px;
        height: auto;
        text-align: justify;
    }
    
    #grid-floats:after {
        content: "";
        display: block;
        clear: both;
        padding: auto;
    }
    
    #grid-floats > .grid-item {
        float: left;
       /*  border: 3px green dashed; */
        width: 160px;
        height: 400px;
        margin: 10px;
        list-style-type: none;
        float: inline-start;
        position: relative;
        font-size: 14px;
        background-color: #ffffff;
        left: -25px;
    }
    
    #grid-floats > .grid-item:nth-child(1) {
       /* border: dashed red 2px; */
        width: 275px;
        height: 360px;;
    }
    
    #grid-floats > .grid-item:nth-child(2) {
        /* border: dashed red 2px; */
        width: 265px;
        height: 360px;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    #grid-flex {
      /*   border: blueviolet 3px dotted; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
        text-align: justify;
    }
    
    #grid-flex > .grid-item {
       /* border: 3px dotted red; */
        margin: 10px;
        width: 160px;
        height: 400px;
        margin: 10px;
        list-style-type: none;
        font-size: 14px;
        background-color: #ffffff;
    }

}

/* For Phones */

@media screen and (max-width: 600px) {
    body {
        background-color: #74f57f;
    }
    
    #grid-floats {
      /*  border: blue 3px dotted; */
        width: 400px;
        height: auto;
        text-align: justify;
        position: relative;
        left: -35px;
    }
    
    #grid-floats:after {
        content: "";
        display: block;
        clear: both;
        padding: auto;
    }
    
    #grid-floats > .grid-item:nth-child(1) {
      /*  border: dashed rgb(224, 6, 170) 2px; */
        width: 350px;
    }

    #grid-floats > .grid-item:nth-child(2) {
     /*   border: 3px green dashed; */
        width: 160px;
        height: 400px;
        padding: 0px 10px 0px 10px;
        list-style-type: none;
        float: inline-start;
        position: relative;
        font-size: 14px;
        margin: 5px;
        background-color: #ffffff;
        left: -35px;
    }
    
    #grid-floats > .grid-item {
      /*  border: 3px green dashed; */
        width: 160px;
        height: 400px;
        padding: 0px 10px 0px 10px;
        list-style-type: none;
        float: inline-start;
        position: relative;
        font-size: 14px;
        margin: 5px;
        background-color: #ffffff;
        left: -35px;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    #grid-flex {
      /*  border: blueviolet 3px dotted; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
        text-align: justify;
    }
    
    #grid-flex > .grid-item {   
      /*  border: 3px dotted red; */
        margin: 10px;
        width: 160px;
        height: 400px;
        margin: 5px;
        padding: 0px 10px 0px 10px;
        list-style-type: none;
        font-size: 14px;
        background-color: #ffffff;
    }

}